@import '../core/variables';

.footer {
    border-top: dotted 1px $color-secondary2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 10px;

    &__text {
        padding: 10px 10px 10px;
        color: $color-primary2;
        font-size: 16px;
        padding: 5px;
        font-family: $font-main;
        font-weight: 600;
    }
}