@import '../core/variables';
@import '../core/mixins';

.footer {
    position: relative;
    border-top: dotted 1px $color-secondary2;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    height: 80px;
    padding: 10px;

    @include Tablet() {
        flex-direction: row;
        justify-content: space-between;
    }

    &__text {
        padding: 10px 10px 10px;
        color: $color-secondary2;
        font-size: .7rem;
        padding: 5px;
        font-family: $font-main;
        font-weight: 600;

        &--link {
            text-decoration: none;
            color: $color-primary2;
        }
    }
}