@import '../core/variables';

.header {
    padding: 10px 10px 10px;
    text-align: center;
    border-bottom: dotted 2px lightgray;
    margin-bottom: 20px;
    font-family: $font-main;

    &__title {
        color: gray;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px;
    }

    &__subtitle {
        color: lightcoral;
        font-size: 16px;
        padding: 5px;
    }

}