@import '../core/variables.scss';

.main {
    padding: 10px;
    height: 80%;
}

.exercise1 {
    background-color: bisque;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.exercise2 {
    background-color: lightblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.example3 {
    background-color: rgba(32, 178, 171, 0.492);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}