// fonts
$font-main: 'Montserrat', sans-serif;
$font-main2: 'Roboto', sans-serif;
$font-main3: 'Open Sans', sans-serif;
$font-secondary: 'Libre Caslon Display', serif;
$font-secondary2: 'Merriweather Sans', sans-serif;
$font-secondary3: 'Bebas Neue', sans-serif;
$font-secondary4: 'Libre Caslon Text', serif;

// colors
$color-primary: #CC212A;
$color-primary2: #808080;
$color-primary3: #ffe4c4;
$color-secondary: #fff;
$color-secondary2: #f08080;
$color-secondary3: #fafad1;
$gradient-bgd-main: linear-gradient(0, #fafad152, #8080806a);
$gradient-bgd: linear-gradient(180deg, #fafad1, #808080ba);
$gradient-bgd2: linear-gradient(180deg, #fafad1, #b71d1d);
$gradient-bgd2: linear-gradient(90deg, #fafad1, #b71d1d);