// fonts
$font-main: 'Montserrat', sans-serif;
$font-main2: 'Roboto', sans-serif;
$font-main3: 'Open Sans', sans-serif;
$font-secondary: 'Libre Caslon Display', serif;
$font-secondary2: 'Merriweather Sans', sans-serif;
$font-secondary3: 'Bebas Neue', sans-serif;
$font-secondary4: 'Libre Caslon Text', serif;

// colors

$color-primary: white;
$color-primary2: black;
$color-primary3: #1d9bf0;
$color-primary4: #1da1f2;
$color-secondary: #eee;
$color-secondary2: #cfd9de;
$color-secondary3: #eff3f4;
$color-secondary4: #536471;
$color-secondary5: #1a8cd8;
$color-secondary5-t: #1a8cd880;
$color-secondary6: #e8f5fe;
$color-secondary7: #999;
$color-text-secondary: #536471;
$gradient-bgd-main: linear-gradient(0, #fafad152, #8080806a);
$gradient-bgd: linear-gradient(180deg, #fafad1, #808080ba);
$gradient-bgd2: linear-gradient(180deg, #fafad1, #b71d1d);
$gradient-bgd2: linear-gradient(90deg, #fafad1, #b71d1d);

// size
$size-main-text: 0.9375rem;